body {
  background-color: bisque;
  text-align: center;
  font-family: Roboto;
  font-weight: bolder;
  margin-right: 120px;
  margin-left: 120px;
}
header {
  height: 206px;
}

img {
  width: 200px;
  height: 200px;
  border: 3px black solid;
  border-radius: 125px;
  margin-top: -175px;
}

main {
  background-color: rgb(219, 108, 94);
  padding: 70px;
  border: 3px black solid;
  border-radius: 8px;
  margin: 150px auto 50px auto;
  box-shadow: 1px 2px 8px rgb(0, 0, 0, 0.3);
}

span {
  color: rgb(66, 2, 2);
}

#maintext {
  font-size: 35px;
}

a {
  text-decoration: none;
}
